<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.food_delivery.foodDeliveryApp.Food_categories_Mapper">
	

	<resultMap type="Food" id="result">
		<id property="food_id" column="food_id" />
		<result property="category" column="category" />
		<result property="cat" column="cat" />
		<result property="image" column="image" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="s_desc" column="s_desc" />
		<result property="description" column="description" />
	</resultMap>

	<select id="getAll" resultType="Food" resultMap="result">
		SELECT *
		FROM
		food_categories
	</select>

	<select id="getFood" resultType="Food" resultMap="result">
		SELECT * FROM
		food_categories WHERE food_id=#{food_id}
	</select>

	<insert id="addFood">
		INSERT INTO food_categories(food_id, category, cat,
		image, name,
		price, s_desc, description) VALUES(#{food_id},
		#{category}, #{cat},
		#{image}, #{name}, #{price}, #{s_desc},
		#{description})
	</insert>

	<update id="updateFoodPrice">
		UPDATE food_categories SET price=#{price} WHERE
		food_id=#{food_id}
	</update>

	<update id="updateFood">
		UPDATE food_categories SET category=#{category},
		cat=#{cat}, image=#{image}, name=#{name}, price=#{price},
		s_desc=#{s_desc}, description=#{description} WHERE food_id=#{food_id}
	</update>

	<delete id="deleteFood">
		DELETE FROM food_categories where food_id=#{food_id}
	</delete>
</mapper>